*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    margin: 0 auto;
    padding-top: 30px;
    width: 80%;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid lightgray;
}

.pager {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}